@use 'styles/src/index' as *;

:host {
  @include flexFill('column');
}

.container {
  @include flexFill('column');
  max-width: 100%;

  .app-robot-narrator {
    @include flexFill('column');
    width: 100%;
  }

  button {
    max-width: 100px;
    padding: 1rem;
  }

  blockquote {
    text-align: center;
  }
}
