/* You can add global styles to this file, and also import other style files */
@use 'styles/src/index' as *;

html,
body {
  margin: 0;
  font-family: 'Roboto', 'Open Sans', 'Lato', 'Noto Sans', 'Source Sans 3',
    'Poppins', 'Nunito', 'Work Sans', sans-serif;
}

app-root {
  display: block;
  min-height: 100vh;
  min-height: 100dvh;
}

/* or, a bit more specific to your layout */
