/* You can add global styles to this file, and also import other style files */
@use 'styles/src/index' as *;
@import 'primeicons/primeicons.css';

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Open Sans', 'Lato', 'Noto Sans', 'Source Sans 3',
    'Poppins', 'Nunito', 'Work Sans', sans-serif;
}

app-root {
  display: block;
  height: 100%;
}

/* or, a bit more specific to your layout */
app-root .route-slot > router-outlet + * {
  @include flexFill('column');
}

// ---------------------------

.play-button .p-button-icon,
.p-button-icon:before,
.p-button-icon:after {
  font-size: 5rem;
}

.feature-accordion .p-accordionheader {
  padding-bottom: 0 !important;
}

.character-selector .p-select-option.p-select-option-selected.p-focus {
  background: $dark !important;
  color: $primary !important;
}

.character-selector .p-select-option.p-select-option-selected {
  background: $dark !important;
  color: $primary !important;
}
