@use 'styles/src/index' as *;

:host {
  @include flexFill('column');
}

.container {
  @include flexFill('column');
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  .p-select {
    width: 80%;
    max-width: 100%;
  }

  svg {
    z-index: 2;
    width: 100%;
  }

  .audioPlayer {
    top: 0;
    z-index: 1;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  button {
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
    background-color: $dark;
    color: $accent;
    border-radius: 100px;
    font-size: 1rem;
  }

  button:active {
    border: solid $accent 2px;
  }

  blockquote {
    padding: 1rem;
  }
}
