@use 'styles/src/index' as *;

:host {
  @include flexFill('column');
}

.container {
  @include flexFill('column');

  svg {
    z-index: 2;

    .bar {
      // transform-box: fill-box;
      // transform-origin: 50% 50%;
    }
  }

  .audioPlayer {
    top: 0;
    z-index: 1;
    visibility: hidden;
    width: 10px;
  }

  button {
    margin-top: 150px;
  }
}
