@use 'styles/src/index' as *;

:host {
  @include flexFill('column')
}

.container {
  @include flexFill('column');

  .wave {
    width: 20%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 4px;
    align-items: center;
    height: 120px;
    padding: 8px;
    z-index: 2;

    .bar {
      height: 40%;
      background-color: $accent;
      border-radius: 4px;
      transform-origin: center center;
      will-change: transform;
    }
  }

  .audioPlayer {
    top: 0;
    z-index: 1;
    visibility: hidden;
    width: 10px;
  }

  button {
    margin-top: 150px;
  }
}




