<div class="header-layout">
  <h2>Im a header</h2>
  <div>
    <div *ngIf="isAuthenticated">Hello {{activeUser?.email}}</div>

    <p-button *ngIf="!isAuthenticated" (onClick)="showLoginDialog=true" label="login" />
    <p-button *ngIf="isAuthenticated" (onClick)=onLogout() label="logout" />
  </div>
</div>

<p-dialog header="Login" [(visible)]="showLoginDialog" [modal]="true" [style]="{width: '400px'}"
  (onHide)="showLoginDialog=false">
  <app-login (cancelEvent)="showLoginDialog = false"></app-login>
</p-dialog>