@use 'styles/src/index' as *;

:host {
  @include flexFill('column');
}

.container {
  @include flexFill('column');
  flex: 0;
  align-items: center;
  width: 100%;
  padding: 0;

  .select-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;

    label {
      font-size: 1.5rem;
      margin-bottom: 0.75rem !important;
    }

    select {
      width: 100%;
      padding: 1rem;
      max-width: 300px;
      font-size: 1.5rem;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 1rem;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;

      @media screen and (min-width: $breakpoint-md) {
        max-width: 350px;
      }
    }
  }

  .pic-wrapper {
    display: flex;
    justify-content: center;
    width: 100%; // size be set for svg scalling
    max-width: 90%; // size be set for svg scalling

    @media screen and (min-width: $breakpoint-sm) {
      min-width: 450px; // size be set for svg scalling
      max-width: 450px; // size be set for svg scalling
    }

    @media screen and (min-width: $breakpoint-md) {
      min-width: 650px; // size be set for svg scalling
      max-width: 650px; // size be set for svg scalling
    }

    @media screen and (min-width: $breakpoint-xl) {
      min-width: 850px; // size be set for svg scalling
      max-width: 850px; // size be set for svg scalling
    }

    svg {
      z-index: 2;
      height: auto;
      width: 100%;
    }

    img {
      height: auto;
      width: 100%;
      max-width: 100px;

      @media screen and (min-width: $breakpoint-sm) {
      }

      @media screen and (min-width: $breakpoint-md) {
      }

      @media screen and (min-width: $breakpoint-xl) {
      }
    }
  }

  .audioPlayer {
    top: 0;
    z-index: 1;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  .mobile-btn {
    width: 60%;
    max-width: 400px;
    margin: 1rem;
    padding: 0.8rem;
    background-color: $dark;
    color: $primary;
    border-radius: 5px;
    font-size: 1.5rem;
  }

  .mobile-btn:active {
    color: $primary !important;
  }

  .mobile-btn:hover {
    box-shadow: 2px 2px 5px $accent, -2px -2px 5px $accent, 2px -2px 5px $accent,
      -2px 2px 5px $accent;
    color: $accent;
  }

  .desktop-btn {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.75s ease;
  }

  .desktop-btn:hover {
    transform: scale(1.25);
    color: $accent;
    text-shadow: 0 1px 0 $dark, 1px 0 0 $dark, 0 -1px 0 $dark, -1px 0 0 $dark,
      1px 1px 0 $dark, -1px 1px 0 $dark, 1px -1px 0 $dark, -1px -1px 0 $dark;
  }
}

.p-select-option.p-select-option-selected.p-focus {
  display: none !important;
}
