@use 'styles/src/index' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  @include flexFill('column');
}

.route-slot {
  @include flexFill('column');
}
