.container {
  position: relative;
  .wave {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 4px;
    align-items: center;
    height: 120px;
    padding: 8px;
    z-index: 2;
    position: absolute;


    .bar {
      height: 40%;
      background-color: black;
      border-radius: 4px;
      transform-origin: center center;
      will-change: transform;
    }
  }

  .audioPlayer {
    position: absolute ;
    top: 0;
    z-index: 1;
    visibility: hidden;
  }

  button {
    margin-top: 150px;
  }
}




