@use 'styles/src/index' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .wave-slot {
    width: 400px;
    min-height: 120px;
  }

  .play-button {
    align-self: center;
    border: none;
    background: transparent;
    border-radius: 100px;
    padding: .8rem .8rem;
        color: $dark;
  }

  .play-button:active {
    background-color: rgba($color: $dark, $alpha: .2);
    color: $primary;
  }
}




