@use 'styles/src/index' as *;

:host {
  @include flexFill('column');
}

.container {
  @include flexFill('column');

  .wave-slot {
    @include flexFill('column');
  }


  .play-button {
    align-self: center;
    border: none;
    background: transparent;
    border-radius: 100px;
    padding: .8rem .8rem;
    color: $dark;
  }

  .play-button:active {
    background-color: rgba($color: $dark, $alpha: .2);
    color: $primary;
  }
}




